.reviewBox {
  background-color: #1b3764;
  width: min-content;
  padding: 1.5rem 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reviewer {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.profileImage {
  width: 4rem;
}

.reviewerName {
  font-size: 1.2rem;
  font-weight: bold;
}

.circles {
  display: flex;
  gap: 0.2rem;
}

.circle {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #ffca42;
  border-radius: 50%;
  border: 1px solid #ffca42;
}

.circle:nth-child(5) {
  background: rgb(255, 202, 66);
  background: linear-gradient(
    90deg,
    rgba(255, 202, 66, 1) 50%,
    transparent 50%
  );
}
.review {
  width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.reviewText {
  font-family: "Inter";
  color: #b4c7e7;
  font-size: 0.9rem;
}
