.section {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f8ff;
}

.container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.title {
  color: #1b3764;
  position: relative;
  margin-bottom: 5rem;
}

.title::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  right: 50%;
  height: 2px;
  width: 3rem;
  background: #ffca42;
  transform: translateX(50%);
}

.chapters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 5rem;
}

.freeTrialBtn {
  background-color: #ffca42;
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  color: #1b3764;
  margin-bottom: 1rem;
}

.shortDescription {
  color: #969aa0;
  font-family: "Inter";
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.haveQuestion {
  color: #969aa0;
  font-family: "Inter";
  font-size: 0.9rem;
}

.questionText {
  color: #1b3764;
  text-decoration: underline;
  font-family: "Inter";
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 80%;
  }
}
@media only screen and (max-width: 1096px) {
  .container {
    width: 90%;
  }

  .chapters {
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 840px) {
  .chapters {
    gap: 1rem;
  }
}

@media only screen and (max-width: 540px) {
  .chapters {
    grid-template-columns: 1fr;
  }
}
