.chapterBox {
  padding: 1.5rem;
  background: #ffffff;
  box-shadow: 0px 35px 25px rgba(4, 11, 20, 0.04);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.chapterTitle {
  color: #1b3764;
}

.description {
  color: #969aa0;
  font-size: 0.9rem;
}

.chapterSpecs {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.spec {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: nowrap;
}

.dot {
  background: #ffca42;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

.specTitle {
  color: #1b3764;
  font-weight: bold;
  white-space: nowrap;
}

.specValue {
  font-family: "Inter";
  color: #969aa0;
  font-size: 0.8rem;
  white-space: nowrap;
}

@media only screen and (max-width: 840px) {
  .chapterSpecs {
    gap: 0.5rem;
    flex-wrap: wrap;
  }
}
