.header {
  background-color: #1b3764;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  width: 100%;
  position: fixed;
  top: 0;
  transition: 300ms;
}

.sticky {
  padding: 0.5rem 0 !important;
  transition: 300ms;
}

.headerWrapper {
  width: 90%;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.logoText {
  color: white;
  font-size: 2rem;
  font-family: "Inter";
  font-weight: bold;
  line-height: 1;
}

.socialIcons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
