.nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 1rem;
}

.navLinks {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
  margin-right: 1rem;
}

.navLink {
  text-decoration: none;
  color: white;
  font-family: "Inter";
  font-weight: medium;
}

.navLink.active {
  color: #ffca42;
}

.navLink:hover {
  color: #ffca42;
  transition: 300ms;
}

.cartIcon {
  margin-right: 1rem;
  cursor: pointer;
}

.orderBtn {
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #ffca42;
  outline: none;
  border: none;
  color: #1b3764;
}

.hamburgerMenu {
  display: none;
}

@media only screen and (max-width: 1068px) {
  .nav {
    gap: 0;
  }

  .navLinks {
    display: none;
  }

  .orderBtn {
    display: none;
  }

  .cartIcon {
    margin-right: 0;
  }

  .hamburgerMenu {
    display: block !important;
    width: 4rem;
  }

  .hamburgerMenuIcon {
    display: block !important;
    width: 100%;
    cursor: pointer;
  }
}
