.section {
  background-color: #1b3764;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}

.container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1rem;
  position: relative;
}

.title::after {
  content: "";
  display: block;
  width: 3rem;
  height: 2px;
  background-color: #ffca42;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
}

.paragraph {
  color: #b4c7e7;
  width: 80%;
  font-family: "Inter";
  font-size: 0.9rem;
}

.orderBtn {
  display: inline-block;
  margin-right: auto;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  background: transparent;
  color: white;
  border: 1px solid #ffca42;
}

.image {
  width: 25rem;
}
