.book {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;
}

.imageContainer {
  width: 100%;
}

.image {
  width: 100%;
  display: block;
}
.aboutBook {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.bookTitle {
  font-weight: bold;
  color: #1b3764;
}

.description {
  color: #969aa0;
  font-family: "Inter";
}

.bookSpecs {
  display: flex;
}

.bookSpec {
  display: grid;
  grid-template-areas:
    "dot title"
    "dot value";
  align-items: flex-start;
  grid-column-gap: 0.3rem;
}

.dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #ffca42;
  grid-area: dot;
  margin-top: 0.3rem;
}

.specTitle {
  grid-area: title;
  line-height: 1;
  font-size: 1.1rem;
}

.specValue {
  grid-area: value;
  font-size: 1rem;
  margin-top: 0.3rem;
  color: #969aa0;
  white-space: nowrap;
}

.orderBtn {
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  background: transparent;
  width: min-content;
  border: 1px solid #ffca42;
  color: #1b3764;
  transition: 300ms;
}

.orderBtn:hover {
  background-color: #ffca42;
}

@media only screen and (max-width: 1042px) {
  .aboutBook {
    gap: 0.5rem;
  }

  .description {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 870px) {
  .book {
    gap: 0.5rem;
  }

  .orderBtn {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  .specTitle {
    font-size: 0.9rem;
  }
  .specValue {
    font-size: 0.9rem;
  }

  .orderBtn {
    padding: 0.3rem 1rem;
    font-size: 0.9rem;
  }
}
