:root {
  --primary-blue-color: #1b3764;
  --primary-yellow-color: #ffca42;
  --primary-light-color: #f6f8fc;
}

* {
  font-family: "Cardo";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
  white-space: nowrap;
}
